doctype html
html
  head
    title= 'ALPWETTER'

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/general_enclosed_foundicons.css')    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Monoton|Gafata')

  body
    block content

    script(type='text/javascript' src='/javascripts/foundation.min.js')
    script(type='text/javascript' src='/javascripts/moment.js')
    script.        
        $(document).foundation();


