.hide-show-weather-details{
	cursor: pointer;
	color: #2ba6cb;
}

body{
	background-size: 100%;
	background-image: url('/images/nepal.jpg');
	background-color: black;
	background-attachment: fixed;
	background-repeat:no-repeat;
	margin-top: 50px;
	font-family: 'Gafata', sans-serif;

}

ul { 
	list-style: none 
}

label span{
	margin-left: 5px;
}

table{
	width: 98%;
}

label, h1,h2,h3,h4,h5,h6{
	color: white;
}

table tr th, table tr td, table tr:nth-of-type(2n){
	background-color: transparent;
	color:white;
}

table{
    background: rgba(255, 255, 255, 0.25);
}

h2,h3,h5, h4{
	font-family: 'Gafata', sans-serif;
}

hr{
	border-bottom-color: rgba(255, 255, 255, 0.25);
	border-top-color: rgba(255, 255, 255, 0.25);
}

.main-content{
	border-width: 0;

	padding: 80px;
	border-color: black;
	border-style: solid;

    background: rgba(255, 255, 255, 0.15);
	/*border-left-width: 15px;*/
	/*border-right-width: 5px;*/
}

.black-shadow{
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.darker-background{
    background: rgba(0, 0, 0, 0.25);
}

.white-shadow{
	text-shadow: 0 0 4px rgba(255, 255, 255, 0.4);
}

.row{
	color: white;
}
.top-bar{
	background-color: transparent;
}

.title-text{
	font-family: 'Monoton', cursive;
	font-size: 80pt;
}

.footer{
	text-align: center;
}

.subtitle{
	text-align: center;
}

.no-margin{
	margin: 0px;
}

.resort-container{
	padding-top: 20px;
}

.resort-label{	
	padding:3px;
	padding-bottom:4px;
	display: inline-block;
	width: 200px;
	height: 30px;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.resort-label-selected{	
    background: rgba(255, 255, 255, 0.15);
}


.resort-label input[type=checkbox]{	
	cursor: pointer;
}


label{
	font-size: 12pt;

}

.resort-label span{
	margin: 0;
	padding: 10px;
}

.resort-label:hover{
    background: rgba(0, 0, 0, 0.5);
}